.a-rise {
    opacity: 0;
    transform: translateY(24px);
    transition: transform .75s cubic-bezier(.3,0,.3,1),opacity .75s cubic-bezier(1,0,.43,1)
}

.a-rise.is-animated,.is-animated .a-rise {
    opacity: 1;
    transform: translateY(0)
}

.a-rise--1 {
    transition-delay: 0
}

.a-rise--2 {
    transition-delay: .4s
}

.a-rise--3 {
    transition-delay: .8s
}

.a-rise--4 {
    transition-delay: 1.2s
}

.c-header {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #ddd
}

.c-header .l-container {
    display: flex;
    height: 60px;
    padding: 0
}

@media (min-width: 1025px) {
    .c-header .l-container {
        height:90px
    }
}

.c-header--clean .l-container {
    align-items: center;
    justify-content: center
}

.c-header--clean .c-login,.c-header--clean .c-nav-header,.c-header--clean .c-nav-offcanvas,.c-header--clean .c-nav-offcanvas-trigger,.c-header--clean .c-username {
    display: none!important
}

.c-header--signup .l-container {
    height: 90px;
    flex-direction: column
}

@media (min-width: 769px) {
    .c-header--signup .l-container {
        height:105px
    }
}

@media (min-width: 1025px) {
    .c-header--signup .l-container {
        flex-direction:row;
        justify-content: flex-start;
        padding: 0 9px;
        height: 90px
    }
}

.c-header--signup .c-signup-progress {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%)
}

@media (min-width: 769px) {
    .c-header--signup .c-signup-progress {
        bottom:20px
    }
}

@media (min-width: 1025px) {
    .c-header--signup .c-signup-progress {
        bottom:50%;
        transform: translate(-50%,50%)
    }
}

.c-header__sub {
    border-bottom: 1px solid #ddd;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background-color: #fff;
    z-index: 1
}

@media (min-width: 1025px) {
    .c-header__sub {
        top:91px
    }
}

.c-header__sub .c-nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 5px;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between
}

@media (min-width: 415px) {
    .c-header__sub .c-nav {
        padding:0;
        justify-content: center
    }
}

.c-header__sub .c-nav__item {
    margin-right: 5px
}

@media (min-width: 415px) {
    .c-header__sub .c-nav__item {
        margin-right:20px
    }
}

.c-header__sub .c-tab-container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: .875rem;
    border-bottom: 0
}

@media (min-width: 1025px) {
    .c-header__sub .c-tab-container {
        font-size:1rem
    }
}

.c-header__sub .c-nav__link {
    padding: 5px 0;
    position: relative;
    color: #444
}

@media (min-width: 415px) {
    .c-header__sub .c-nav__link {
        margin:0 8px
    }
}

@media (min-width: 769px) {
    .c-header__sub .c-nav__link {
        padding:15px 0 10px;
        margin: 0 30px
    }
}

.c-header__sub .c-nav__link.active {
    color: #983794
}

.c-header__sub .c-nav__link.active:after {
    content: " ";
    position: absolute;
    opacity: 1;
    width: 100%;
    border-bottom: 2px solid #983794;
    left: 0;
    bottom: -1px
}

.c-header__sub .c-nav__link:focus,.c-header__sub .c-nav__link:hover {
    text-decoration: none;
    color: #983794
}

.c-logo-pc {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 60px
}

@media (min-width: 1025px) {
    .c-logo-pc {
        position:relative;
        left: 0;
        transform: none;
        height: 90px;
        padding: 0 15px
    }
}

.c-logo-pc svg {
    position: relative;
    width: 160px;
    top: -2px
}

@media (min-width: 415px) {
    .c-logo-pc svg {
        width:190px
    }
}

@media (min-width: 1025px) {
    .c-logo-pc svg {
        width:235px;
        top: -4px
    }
}

.c-nav-header {
    display: none
}

@media (min-width: 1025px) {
    .c-nav-header {
        flex:1 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end
    }
}

.c-nav-header__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}

.is-user-signed-in .c-nav-header__list {
    display: none
}

.c-nav-header__link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: .875rem;
    color: #444;
    height: 60px;
    margin: 0;
    padding: 0 12px
}

@media (min-width: 1025px) {
    .c-nav-header__link {
        height:90px;
        padding: 0 20px
    }
}

.c-nav-header__link:after {
    content: "";
    opacity: 0;
    transition: opacity .15s ease-out
}

.c-nav-header__link.is-active,.c-nav-header__link:focus,.c-nav-header__link:hover {
    color: #444;
    text-decoration: none
}

.c-nav-header__link.is-active:after,.c-nav-header__link:focus:after,.c-nav-header__link:hover:after {
    opacity: 1;
    border-bottom: 2px solid #983794;
    position: absolute;
    bottom: 13px;
    width: calc(100% - 24px)
}

@media (min-width: 1025px) {
    .c-nav-header__link.is-active:after,.c-nav-header__link:focus:after,.c-nav-header__link:hover:after {
        bottom:28px;
        width: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%)
    }
}

.c-login {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center
}

@media (min-width: 1025px) {
    .c-login {
        position:relative;
        height: 90px;
        margin-right: 0
    }
}

.c-login svg {
    width: 20px
}

@media (min-width: 1025px) {
    .c-login svg {
        width:30px
    }
}

.c-login:focus svg,.c-login:hover svg {
    fill: #490572
}

.is-user-signed-out .c-login {
    display: flex
}

.c-username {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center
}

@media (min-width: 1025px) {
    .c-username {
        position:relative;
        height: 90px;
        margin-right: 0
    }
}

.c-username__icon {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #983794;
    border-radius: 50%;
    transition: border .15s ease-out
}

@media (min-width: 1025px) {
    .c-username__icon {
        width:30px;
        height: 30px
    }
}

.c-username__text {
    display: block;
    font-size: .75rem;
    line-height: 16px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-overflow: clip
}

@media (min-width: 1025px) {
    .c-username__text {
        font-size:1rem;
        line-height: 26px
    }
}

.c-username:focus,.c-username:hover {
    text-decoration: none
}

.c-username:focus .c-username__icon,.c-username:hover .c-username__icon {
    border: 2px solid #490572
}

.is-user-signed-in .c-username {
    display: flex
}

.c-signup-progress {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,transparent calc(50% - 1px),#aaa calc(50%),transparent calc(50% + 1px))
}

.c-signup-progress__step {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 9px;
    padding: 0 9px
}

@media (min-width: 1025px) {
    .c-signup-progress__step {
        margin:0 22px
    }
}

.c-signup-progress__step:first-child {
    margin-left: 0;
    padding-left: 0
}

.c-signup-progress__step:last-child {
    margin-right: 0;
    padding-right: 0
}

.c-signup-progress__number {
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    border: 2px solid #aaa;
    border-radius: 50%;
    color: #aaa;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.125rem;
    text-align: center;
    margin-right: 6px
}

@media only screen and (min-width: 769px) {
    .c-signup-progress__number {
        width:26px;
        height: 26px;
        font-size: 1rem;
        line-height: calc(1rem + .375rem)
    }
}

.c-signup-progress__number svg {
    display: none
}

.is-active .c-signup-progress__number {
    color: #983794;
    border-color: #983794
}

.is-completed .c-signup-progress__number {
    background-color: #983794;
    color: #983794;
    border-color: #983794
}

.is-completed .c-signup-progress__number svg {
    display: inline;
    width: 14px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%
}

@media only screen and (min-width: 769px) {
    .is-completed .c-signup-progress__number svg {
        width:17px
    }
}

.c-signup-progress__title {
    display: inline;
    color: #737373;
    font-weight: 500;
    font-size: .75rem;
    line-height: calc(.75rem + .375rem)
}

@media only screen and (min-width: 769px) {
    .c-signup-progress__title {
        font-size:1rem;
        line-height: calc(1rem + .375rem)
    }
}

.is-active .c-signup-progress__title {
    color: #983794
}

.c-nav-offcanvas-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px
}

@media (min-width: 1025px) {
    .c-nav-offcanvas-trigger {
        display:none
    }
}

.c-nav-offcanvas-trigger__icon {
    position: relative
}

.c-nav-offcanvas-trigger__icon-menu {
    display: block
}

.c-nav-offcanvas-trigger.is-active .c-nav-offcanvas-trigger__icon-menu,.c-nav-offcanvas-trigger__icon-close {
    display: none
}

.c-nav-offcanvas-trigger.is-active .c-nav-offcanvas-trigger__icon-close {
    display: block
}

.c-nav-offcanvas {
    display: flex;
    flex-direction: column;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    width: 275px;
    height: calc(100vh - 61px);
    top: 61px;
    left: -280px;
    padding-bottom: 113px;
    background-color: #fff;
    overflow: auto;
    transition: all .3s cubic-bezier(.19,1,.22,1)
}

@media (min-width: 1025px) {
    .c-nav-offcanvas {
        display:none
    }
}

.c-nav-offcanvas.is-active {
    visibility: visible;
    left: 0
}

.c-nav-offcanvas__signup {
    margin: 20px
}

.c-nav-offcanvas__username {
    padding: 20px;
    color: #490572
}

.c-nav-offcanvas__list {
    list-style: none;
    margin: 0;
    padding: 0
}

.c-nav-offcanvas__divider {
    height: 0;
    border-top: 1px solid #ddd;
    padding: 0;
    margin: 20px
}

.c-nav-offcanvas__title {
    padding: 16px 0;
    margin: 0 20px;
    color: #490572;
    font-weight: 500;
    font-size: .75rem;
    line-height: calc(.75rem + .375rem);
    text-transform: uppercase
}

.c-nav-offcanvas__link {
    display: block;
    padding: 12px 17px;
    color: #444;
    font-weight: 400;
    border-left: 3px solid transparent
}

.c-nav-offcanvas__link:focus,.c-nav-offcanvas__link:hover {
    color: #983794;
    text-decoration: none
}

.c-nav-offcanvas__link.is-active {
    color: #983794;
    background-color: #eeebf0;
    border-left: 3px solid #983794
}

.c-nav-offcanvas-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear
}

.c-nav-offcanvas-overlay.is-active {
    opacity: 1;
    visibility: visible
}

@media (min-width: 1025px) {
    .c-nav-offcanvas-overlay.is-active {
        display:none
    }
}

body.is-nav-offcanvas-active {
    overflow: hidden
}

[data-show-badge=none] .c-badge--info,[data-show-badge=none] .c-badge--warning {
    display: none
}

[data-show-badge=alert] .c-badge--warning {
    display: flex
}

[data-show-badge=alert] .c-badge--info,[data-show-badge=info] .c-badge--warning {
    display: none
}

[data-show-badge=info] .c-badge--info {
    display: flex
}

.c-badge {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: #fff;
    position: absolute
}

.c-badge--nav {
    top: -10px;
    right: -10px
}

.c-badge--offcanvas {
    top: 10px;
    right: 18px;
    border: none;
    background: transparent
}

.c-badge--profile {
    top: 6px;
    right: -8px
}

.c-badge--info {
    background: #983794;
    display: flex;
    align-items: center;
    justify-content: center
}

.c-badge--info-number {
    color: #fff;
    font-weight: 700;
    font-size: .6875rem;
    padding: 0 5px
}

.c-badge--warning {
    height: 20px;
    width: 20px
}

.c-badge--warning__icon {
    width: 16px;
    height: 16px;
    fill: #d0011b
}

.c-badge-container {
    position: relative
}

.c-badge-container--mobile .c-badge {
    left: 12px;
    top: 9px
}

@media (min-width: 1025px) {
    .c-badge-container--mobile .c-badge {
        left:inherit;
        top: inherit
    }
}

.c-how-it-works--plans {
    padding: 40px 0
}

.c-how-it-works--plans .c-how-it-works__content {
    margin: 0 auto;
    max-width: 248px
}

@media (min-width: 769px) {
    .c-how-it-works--plans .c-how-it-works__content {
        max-width:1024px
    }
}

.c-how-it-works--plans .d-flex {
    max-width: 320px;
    margin-bottom: 15px;
    text-align: left
}

@media (min-width: 769px) {
    .c-how-it-works--plans .d-flex {
        text-align:center
    }
}

.c-how-it-works--plans .c-how-it-works__icon {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0
}

@media (min-width: 769px) {
    .c-how-it-works--plans .c-how-it-works__icon {
        flex:0 0 72px;
        width: 72px;
        height: 72px;
        margin: 0 auto 20px
    }
}

.c-how-it-works--plans .c-heading.c-heading--brand-7 {
    margin-bottom: 5px
}

@media (min-width: 769px) {
    .c-how-it-works--plans p {
        max-width:248px;
        margin: 0 auto
    }
}

.c-how-it-works--redeem-signup {
    padding: 50px 0 35px;
    background-color: #f8f8f8
}

@media only screen and (min-width: 769px) {
    .c-how-it-works--redeem-signup {
        padding-bottom:120px
    }
}

.c-how-it-works--redeem-signup .c-how-it-works__content {
    margin: 0 auto;
    max-width: 248px
}

@media (min-width: 769px) {
    .c-how-it-works--redeem-signup .c-how-it-works__content {
        max-width:960px
    }
}

.c-how-it-works--redeem-signup .d-flex {
    margin-bottom: 15px;
    text-align: left
}

@media (min-width: 769px) {
    .c-how-it-works--redeem-signup .d-flex {
        text-align:center
    }
}

.c-how-it-works--redeem-signup .c-how-it-works__icon {
    flex: 0 0 64px;
    width: 64px;
    height: 64px;
    margin: 0 20px 0 0
}

@media (min-width: 769px) {
    .c-how-it-works--redeem-signup .c-how-it-works__icon {
        flex:0 0 72px;
        width: 72px;
        height: 72px;
        margin: 0 auto 20px
    }
}

.c-how-it-works--redeem-signup .c-heading--brand-4 {
    text-align: center;
    margin-bottom: 30px
}

@media (min-width: 769px) {
    .c-how-it-works--redeem-signup .c-heading--brand-4 {
        margin-bottom:60px
    }
}

.c-how-it-works--redeem-signup .c-heading.c-heading--brand-7 {
    margin-bottom: 5px
}

@media (min-width: 769px) {
    .c-how-it-works--redeem-signup p {
        max-width:160px;
        margin: 0 auto
    }
}

.c-footer__bg-1 {
    background-color: #490572;
    padding: 30px 0
}

@media (min-width: 600px) {
    .c-footer__bg-1 {
        padding:60px 0
    }
}

@media (min-width: 600px) {
    .c-footer__bg-2 {
        background:linear-gradient(90deg,#490572 0,#490572 50%,#d1beda 0,#d1beda)
    }
}

.c-footer__bg-3 {
    background-color: #fff
}

.c-footer__bg-3 .d-flex {
    height: 50px
}

@media (min-width: 769px) {
    .c-footer__bg-3 .d-flex {
        height:90px
    }
}

.c-footer__form-container {
    background-color: #d1beda
}

.c-footer__bg-2 .c-footer__form-container {
    flex: 0 0 50%
}

.c-footer .c-footer-form {
    padding: 15px 0;
    text-align: center
}

@media (min-width: 600px) {
    .c-footer .c-footer-form {
        padding:15px 15px 0 30px;
        text-align: left
    }
}

@media (min-width: 1201px) {
    .c-footer .c-footer-form {
        padding:15px 0 0 30px
    }
}

.c-footer .c-footer-form__title {
    font-family: ZillaSlab;
    font-weight: 500;
    font-size: 1rem
}

@media (min-width: 1025px) {
    .c-footer .c-footer-form__title {
        font-size:1.5rem;
        margin-bottom: 20px
    }
}

.c-footer .c-footer-form .c-form-group {
    margin-left: auto;
    margin-right: auto
}

.c-footer .c-footer-form input:not([type=file]):not([type=range]):not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):active,.c-footer .c-footer-form input:not([type=file]):not([type=range]):not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):focus,.c-footer .c-footer-form input:not([type=file]):not([type=range]):not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):hover {
    border: 1px solid #ddd;
    box-shadow: none
}

@media (min-width: 1025px) {
    .c-footer .c-footer-form input {
        padding:18px!important
    }
}

.c-footer .c-footer-form .c-input-group .c-button--primary {
    width: 40px;
    height: 40px;
    padding: 0;
    box-shadow: none
}

@media (min-width: 1025px) {
    .c-footer .c-footer-form .c-input-group .c-button--primary {
        width:60px;
        height: 60px
    }
}

.c-footer .c-footer-form svg {
    fill: #fff;
    width: 7px
}

@media (min-width: 1025px) {
    .c-footer .c-footer-form svg {
        width:13px
    }
}

.c-footer .c-footer-form .c-form-group__invalid-text,.c-footer .c-footer-form .c-form-group__success-text {
    color: #983794;
    font-weight: 500
}

.c-footer .c-footer-form .is-invalid input {
    border: 2px solid #983794!important;
    border-radius: 2px 0 0 2px!important;
    padding: 7px!important
}

@media (min-width: 1025px) {
    .c-footer .c-footer-form .is-invalid input {
        padding:17px!important
    }
}

.c-footer__logo {
    flex: 1 1 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    text-align: center
}

@media (min-width: 1025px) {
    .c-footer__logo {
        margin-right:50px
    }
}

.c-footer__logo svg {
    min-width: 75px;
    max-width: 100px
}

@media (min-width: 600px) {
    .c-footer__logo svg {
        max-width:125px
    }
}

@media (min-width: 1025px) {
    .c-footer__logo svg {
        max-width:175px
    }
}

.c-footer__links {
    flex: 1 2 auto
}

.c-footer__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -moz-column-count: 2;
    column-count: 2
}

.c-footer__links a {
    color: #fff;
    font-size: .75rem;
    line-height: calc(.75rem * 2)
}

@media (min-width: 1025px) {
    .c-footer__links a {
        font-size:1rem;
        line-height: calc(1rem * 2)
    }
}

.c-footer__links a:focus,.c-footer__links a:hover {
    text-decoration: underline
}

.c-footer .c-social-buttons a {
    display: block;
    margin: 0 5px
}

@media (min-width: 769px) {
    .c-footer .c-social-buttons a {
        margin:0 8px
    }
}

.c-footer .c-social-buttons a svg {
    fill: #983794;
    width: 20px
}

@media (min-width: 769px) {
    .c-footer .c-social-buttons a svg {
        width:34px
    }
}

.c-footer .c-social-buttons a svg:focus,.c-footer .c-social-buttons a svg:hover {
    fill: #490572
}

.c-footer__copyright {
    flex: 0 1 50%;
    font-family: ZillaSlab;
    font-weight: 500;
    font-size: .625rem;
    line-height: calc(.625rem + .375rem)
}

@media (min-width: 769px) {
    .c-footer__copyright {
        font-size:.75rem;
        line-height: calc(.75rem)
    }
}

@media (min-width: 1025px) {
    .c-footer__copyright {
        font-size:1.125rem;
        line-height: calc(1.125rem + .375rem)
    }
}

.c-footer__copyright a {
    color: #444
}

.c-footer__bg-1 .c-footer__copyright,.c-footer__bg-1 .c-footer__copyright a {
    color: #fff
}

.c-pre-footer {
    text-align: center;
    background-color: #fff;
    padding: 30px 0
}

.c-pre-footer img {
    width: auto;
    height: 18px;
    margin: 15px 14px
}

@media only screen and (min-width: 1025px) {
    .c-pre-footer img {
        height:30px;
        margin: 15px 25px
    }
}

.c-social-buttons {
    list-style: none;
    margin: 0;
    padding: 0 40px;
    display: inline-flex
}

.c-social-buttons a {
    display: inline-block;
    margin-right: 15px
}

.c-social-buttons svg {
    display: block
}

@media only screen and (min-width: 769px) {
    .c-signup-login-modal .modal-body {
        margin:0 20px;
        padding: 15px 0 30px
    }
}

.c-signup-login-modal .modal-dialog {
    max-width: 355px
}

.c-signup-login-modal .modal-header {
    border: none;
    padding-bottom: 0
}

@media only screen and (min-width: 769px) {
    .c-signup-login-modal .modal-header .c-heading {
        font-size:1.5rem
    }
}

.c-or-divider {
    margin: 18px 0
}

.c-or-divider__text {
    display: inline-block;
    width: 7%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    text-align: center;
    color: #737373
}

.c-or-divider__dash {
    display: inline-block;
    width: 42%;
    margin: 4px 0;
    color: #737373;
    border-bottom: 1px solid #ccc
}

.c-login-form,.c-signup-form {
    text-align: center
}

.c-login-form .c-button--primary,.c-signup-form .c-button--primary {
    margin: 12px 0
}

.c-login-form .c-button,.c-login-form .c-button--facebook,.c-signup-form .c-button,.c-signup-form .c-button--facebook {
    width: 100%;
    font-size: .875rem
}

@media only screen and (min-width: 1025px) {
    .c-login-form .c-button,.c-login-form .c-button--facebook,.c-signup-form .c-button,.c-signup-form .c-button--facebook {
        padding:8px 30px
    }
}

.c-login-form__forgot-password-wrapper,.c-signup-form__forgot-password-wrapper {
    margin-top: 8px;
    float: right;
    text-align: right;
    margin-bottom: 5px;
    display: inline-block
}

.c-login-form__keep-me-signed-wrapper,.c-signup-form__keep-me-signed-wrapper {
    float: left;
    display: inline-block
}

.c-login-form .c-form-group--inline,.c-signup-form .c-form-group--inline {
    margin: 0
}

.c-login-form .c-form-group__invalid-text,.c-signup-form .c-form-group__invalid-text {
    text-align: left
}

.c-login-form .c-input-checkbox label,.c-signup-form .c-input-checkbox label {
    padding: 8px 10px 10px 30px
}

.c-login-form .c-alert,.c-signup-form .c-alert {
    margin-bottom: 10px;
    text-align: left
}

.c-login-form a,.c-signup-form a {
    font-weight: 600px
}

.c-signup-form .c-button--primary {
    margin: 25px 0 12px
}

.c-signup-form hr {
    margin: 22px 0
}

.c-alert--homepage {
    color: #fff;
    background-color: #490572;
    text-align: center
}

@media only screen and (min-width: 1025px) {
    .c-alert--homepage {
        text-align:left
    }
}

.c-alert--homepage .l-container {
    display: block;
    min-width: 290px
}

@media only screen and (min-width: 1025px) {
    .c-alert--homepage .l-container {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between
    }
}

.c-alert--homepage .c-button {
    font-size: 1rem;
    padding: 8px 26px 6px
}

.c-site-banner-content-chunk {
    min-height: 40px;
    padding: 10px
}

.c-home-hero {
    background: #fff;
    position: relative;
    overflow: hidden
}

@media only screen and (min-width: 600px) {
    .c-home-hero__image {
        max-width:768px
    }
}

@media only screen and (min-width: 769px) {
    .c-home-hero__image {
        display:block;
        margin: 0 auto;
        max-width: 100%
    }
}

@media only screen and (min-width: 1440px) {
    .c-home-hero__image {
        margin:0;
        max-width: 1920px;
        position: relative;
        left: 50%;
        transform: translate(-50%)
    }
}

.c-home-hero__video {
    display: none;
    margin: 0 auto
}

@media only screen and (min-width: 769px) {
    .c-home-hero__video {
        display:none
    }
}

.c-home-hero ::-webkit-media-controls-panel,.c-home-hero ::-webkit-media-controls-play-button,.c-home-hero ::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
    appearance: none;
    display: none!important
}

.c-home-hero__container-1 {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

@media only screen and (min-width: 415px) {
    .c-home-hero__container-1 {
        margin-top:6%
    }
}

@media only screen and (min-width: 600px) {
    .c-home-hero__container-1 {
        position:absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 3%
    }
}

@media only screen and (min-width: 769px) {
    .c-home-hero__container-1 {
        margin-top:6%
    }
}

.c-home-hero__container-1:after {
    display: block;
    content: "";
    clear: both
}

.c-home-hero__container-2 {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 320px;
    max-width: 1200px;
    margin: -10% auto 0;
    padding: 0 15px
}

.c-home-hero__container-2:after {
    display: block;
    content: "";
    clear: both
}

.c-home-hero__content {
    width: 42%;
    min-width: 290px;
    padding: 15px;
    margin: 0 auto
}

@media only screen and (min-width: 600px) {
    .c-home-hero__content {
        max-width:290px;
        padding: 15px 0;
        margin: 0
    }
}

@media only screen and (min-width: 769px) {
    .c-home-hero__content {
        max-width:370px
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-hero__content {
        max-width:470px
    }
}

.c-home-hero__text {
    margin-bottom: 20px
}

@media only screen and (min-width: 600px) {
    .c-home-hero__text {
        margin-bottom:30px
    }
}

.c-home-hero .c-button {
    width: 230px
}

@media only screen and (min-width: 1025px) {
    .c-home-hero .c-button {
        width:270px
    }
}

.c-home-1 {
    background: linear-gradient(0deg,#490572 25px,#fff 0,#fff);
    position: relative;
    z-index: 0
}

.c-home-1__images {
    position: relative;
    overflow: hidden;
    margin-top: 25px
}

@media only screen and (min-width: 600px) {
    .c-home-1__images {
        margin-top:75px
    }
}

@media only screen and (min-width: 769px) {
    .c-home-1__images {
        margin-top:0
    }
}

.c-home-1__image-1,.c-home-1__image-6 {
    display: block;
    position: relative;
    margin: 0 auto
}

@media only screen and (min-width: 600px) {
    .c-home-1__image-1,.c-home-1__image-6 {
        max-width:768px
    }
}

@media only screen and (min-width: 769px) {
    .c-home-1__image-1,.c-home-1__image-6 {
        max-width:100%
    }
}

.c-home-1__image-1 {
    z-index: 1
}

.c-home-1__image-6 {
    z-index: 6
}

.c-home-1__image-2,.c-home-1__image-3,.c-home-1__image-4,.c-home-1__image-5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

@media only screen and (min-width: 600px) {
    .c-home-1__image-2,.c-home-1__image-3,.c-home-1__image-4,.c-home-1__image-5 {
        max-width:768px;
        left: 0;
        transform: translate(0)
    }
}

@media only screen and (min-width: 769px) {
    .c-home-1__image-2,.c-home-1__image-3,.c-home-1__image-4,.c-home-1__image-5 {
        max-width:100%;
        left: 50%;
        transform: translate(-50%)
    }
}

.c-home-1__image-2 {
    z-index: 2;
    bottom: -15%
}

.c-home-1__image-3 {
    z-index: 3;
    bottom: 28%
}

.c-home-1__image-4 {
    z-index: 4;
    bottom: 26%
}

.c-home-1__image-5 {
    z-index: 5;
    bottom: 37%
}

.c-home-1__container {
    z-index: 6;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

@media only screen and (min-width: 600px) {
    .c-home-1__container {
        position:absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%)
    }
}

.c-home-1__container:after {
    display: block;
    content: "";
    clear: both
}

.c-home-1__content {
    width: 50%;
    min-width: 270px;
    margin: 25px auto 0
}

@media only screen and (min-width: 600px) {
    .c-home-1__content {
        max-width:290px;
        margin: -120px 0 0
    }
}

@media only screen and (min-width: 769px) {
    .c-home-1__content {
        margin-top:-80px
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-1__content {
        max-width:440px;
        margin-top: -100px
    }
}

@media only screen and (min-width: 1201px) {
    .c-home-1__content {
        margin-top:-120px
    }
}

.c-home-1__title {
    border-top: 2px solid #983794;
    padding-top: 25px
}

@media only screen and (min-width: 600px) {
    .c-home-1__title {
        padding-top:50px
    }
}

.c-home-1__subtitle {
    margin-bottom: 10px
}

.c-home-2 {
    background: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 70px
}

@media only screen and (min-width: 600px) {
    .c-home-2 {
        padding-bottom:0
    }
}

@media only screen and (min-width: 600px) {
    .c-home-2 .c-heading--decorative-2 {
        padding-left:5px
    }
}

.c-home-2__image {
    display: block;
    margin: 280px auto 0
}

@media only screen and (min-width: 600px) {
    .c-home-2__image {
        margin-top:0;
        max-width: 768px
    }
}

@media only screen and (min-width: 769px) {
    .c-home-2__image {
        max-width:100%
    }
}

@media only screen and (min-width: 1440px) {
    .c-home-2__image {
        margin:0;
        max-width: 1920px;
        position: relative;
        left: 50%;
        transform: translate(-50%)
    }
}

.c-home-2__container-1 {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1
}

.c-home-2__container-1:after {
    display: block;
    content: "";
    clear: both
}

.c-home-2__container-2 {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1
}

@media only screen and (min-width: 415px) {
    .c-home-2__container-2 {
        bottom:7%
    }
}

@media only screen and (min-width: 769px) {
    .c-home-2__container-2 {
        position:relative;
        bottom: inherit
    }
}

.c-home-2__content {
    width: 50%;
    min-width: 290px;
    margin: 35px auto 0
}

@media only screen and (min-width: 600px) {
    .c-home-2__content {
        max-width:290px;
        margin: 50px 0 0
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-2__content {
        max-width:400px;
        margin-top: 80px
    }
}

.c-home-2__action {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0
}

@media only screen and (min-width: 600px) {
    .c-home-2__action {
        position:relative;
        bottom: inherit
    }
}

.c-home-2__title {
    border-top: 2px solid #983794;
    padding-top: 25px
}

@media only screen and (min-width: 600px) {
    .c-home-2__title {
        padding-top:50px
    }
}

.c-home-2__subtitle {
    margin-bottom: 10px
}

.c-home-2__text {
    margin-bottom: 35px
}

.c-home-2__btw {
    width: 200px;
    margin: 25px auto
}

@media only screen and (min-width: 600px) {
    .c-home-2__btw {
        position:absolute;
        width: 370px;
        margin: 0 15px;
        left: 0;
        bottom: 12%
    }
}

@media only screen and (min-width: 769px) {
    .c-home-2__btw {
        bottom:5%
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-2__btw {
        bottom:0;
        width: 100%;
        text-align: center
    }
}

@media only screen and (min-width: 1201px) {
    .c-home-2__btw {
        bottom:5%
    }
}

.c-home-2__btw svg {
    fill: #983794;
    vertical-align: baseline;
    width: 60px;
    margin-left: -30px
}

@media only screen and (min-width: 1025px) {
    .c-home-2__btw svg {
        width:120px;
        margin-left: -60px
    }
}

.c-home-2 .c-button {
    width: 230px;
    margin-bottom: 5px
}

@media only screen and (min-width: 1025px) {
    .c-home-2 .c-button {
        width:270px
    }
}

.c-home-3 {
    background: #fff;
    text-align: center;
    position: relative;
    padding-top: 35px
}

@media only screen and (min-width: 415px) {
    .c-home-3 {
        padding-top:0
    }
}

.c-home-3__container-1 {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%)
}

.c-home-3__container-1:after {
    display: block;
    content: "";
    clear: both
}

.c-home-3__container-2 {
    display: block;
    width: 50%;
    height: 100%;
    position: relative;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

.c-home-3__container-2:after {
    display: block;
    content: "";
    clear: both
}

@media only screen and (min-width: 600px) {
    .c-home-3__content {
        width:20%;
        min-width: 240px;
        max-width: 395px;
        margin-top: 9%;
        margin-left: calc(50% + 10px)
    }
}

@media only screen and (min-width: 769px) {
    .c-home-3__content {
        width:20%;
        min-width: 240px;
        margin-top: 10%
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-3__content {
        width:30%;
        margin-top: 12%
    }
}

@media only screen and (min-width: 1201px) {
    .c-home-3__content {
        width:50%;
        margin-top: 16%
    }
}

@media only screen and (min-width: 1440px) {
    .c-home-3__content {
        margin-top:20%
    }
}

.c-home-3__image {
    margin: 30px 0 15px;
    max-width: 100%
}

@media only screen and (min-width: 600px) {
    .c-home-3__image {
        margin-top:0;
        max-width: 100%
    }
}

.c-home-3 hr {
    height: 2px;
    background: #983794;
    width: 75px;
    margin: 35px auto 0
}

@media only screen and (min-width: 415px) {
    .c-home-3 hr {
        margin-top:0
    }
}

.c-home-3__title {
    max-width: 120px;
    margin-top: 80px;
    margin-left: calc(50% + 5px);
    text-align: left
}

@media only screen and (min-width: 415px) {
    .c-home-3__title {
        margin-top:95px
    }
}

@media only screen and (min-width: 600px) {
    .c-home-3__title {
        max-width:none;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 20px
    }
}

.c-home-3 .c-button {
    width: 230px;
    margin-bottom: 20px
}

@media only screen and (min-width: 1025px) {
    .c-home-3 .c-button {
        width:270px
    }
}

.c-home-4 {
    padding-top: 35px
}

@media only screen and (min-width: 600px) {
    .c-home-4 {
        padding-bottom:50px
    }
}

.c-home-4__container {
    display: block;
    width: 50%;
    height: 100%;
    position: relative;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

.c-home-4__container:after {
    display: block;
    content: "";
    clear: both
}

@media only screen and (min-width: 600px) {
    .c-home-4__container {
        width:100%
    }
}

.c-home-4__col-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1 0 300px
}

@media only screen and (min-width: 1025px) {
    .c-home-4__col-1 {
        flex:1 0 400px
    }
}

.c-home-4__col-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1 1 auto
}

.c-home-4 hr {
    height: 2px;
    background: #983794;
    width: 75px;
    margin: 0 auto 35px
}

@media only screen and (min-width: 600px) {
    .c-home-4 hr {
        width:150px;
        margin: 0 0 25px
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-4 hr {
        width:270px;
        margin-bottom: 50px
    }
}

.c-home-4__quotes-carousel {
    z-index: 0
}

.c-home-4__quotes-carousel .carousel-inner {
    padding-bottom: 52px;
    min-height: 422px
}

@media only screen and (min-width: 600px) {
    .c-home-4__quotes-carousel .carousel-inner {
        min-height:auto
    }
}

.c-home-4__quotes-carousel .carousel-item {
    background-color: #fff
}

.c-home-4__quotes-carousel .carousel-indicators {
    margin: 9px 25px
}

.c-home-4__quotes-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
    background-color: #ddd;
    border: 7px solid transparent
}

.c-home-4__quotes-carousel .carousel-indicators li:hover {
    background-color: #aaa
}

.c-home-4__quotes-carousel .carousel-indicators li.active {
    background-color: #983794
}

.c-home-4__quote {
    padding-top: 28px
}

@media only screen and (min-width: 600px) {
    .c-home-4__quote {
        padding-top:0;
        padding-left: 38px;
        margin-top: 32px
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-4__quote {
        padding-left:62px;
        margin-top: 60px
    }
}

.c-home-4__quote q:after,.c-home-4__quote q:before {
    content: ""
}

.c-home-4__quote svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    fill: #983794;
    width: 18px
}

@media only screen and (min-width: 600px) {
    .c-home-4__quote svg {
        top:32px;
        left: 0;
        transform: translate(0);
        width: 28px
    }
}

@media only screen and (min-width: 1025px) {
    .c-home-4__quote svg {
        top:60px;
        width: 52px
    }
}

.c-home-4__image {
    margin-bottom: 10px
}

@media only screen and (min-width: 600px) {
    .c-home-4__image {
        margin-bottom:0;
        margin-right: 15px
    }
}
